.shelf-depth-0 {
  margin-left: 0px;
}
.shelf-depth-1 {
  margin-left: 10px;
}
.shelf-depth-2 {
  margin-left: 20px;
}
.shelf-depth-3 {
  margin-left: 30px;
}
.shelf-depth-4 {
  margin-left: 40px;
}
.shelf-depth-5 {
  margin-left: 50px;
}
.shelf-depth-6 {
  margin-left: 60px;
}
.shelf-depth-70 {
  margin-left: 70px;
}
.shelf-depth-80 {
  margin-left: 80px;
}
.shelf-depth-90 {
  margin-left: 90px;
}
.shelf-depth-100 {
  margin-left: 100px;
}
